:root {
  /* colors */
  --clr-card-bg: hsl(0, 0%, 100%);
  --clr-main-bg: hsl(212, 45%, 89%);
  --clr-text-mute: hsl(216, 15%, 48%);
  --clr-text-heading: hsl(218, 44%, 22%);

  /* fonts */
  --font-family: 'Outfit', sans-serif;
  --fs-base: 0.9375rem;      /* 15px per style guide, in rem */
  --fs-heading: 1.25rem;
  --fw-base: 400;
  --fw-heading: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  font-size: var(--fs-base);
  font-weight: var(--fw-base);
  background-color: var(--clr-main-bg);
  color: var(--clr-text-mute);
}

.container {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.card {
  background-color: var(--clr-card-bg);
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  max-width: 22rem;
  box-shadow: 0 1rem 3rem hsl(212, 45%, 89%, 0.5);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}





