:root {
  /* colors settings */
  --gray-950: hsl(0, 0%, 7%);
  --gray-500: hsl(0, 0%, 42%);
  --yellow-500: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);

  /* font settings */
  --main-font-family: Figtree, sans-serif;
  --font-size-body: 1rem;
  --font-size-heading: 1.5rem;
  --font-weight-normal: 500;
  --font-weight-bold: 800;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font-family);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-normal);
  color: var(--gray-500);
  background-color: var(--yellow-500);
}   

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 0.5rem;
  overflow: hidden;
  max-width: 24rem;
  padding: 1.25rem;
  gap: 1.25rem;
  box-shadow: 0.5rem 0.5rem var(--gray-950);
}

.card__image {
  width: 100%;
  border-radius: 0.5rem;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card__badge {
    background-color: var(--yellow-500);
    color: var(--gray-950);
    font-weight: var(--font-weight-bold);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    align-self: flex-start;
}

.card__date {
  font-size: 0.875rem;
  color: var(--gray-950);
}

.card__title {
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight-bold);
  color: var(--gray-950);
}

.card__title-link {
  text-decoration: none;
  color: inherit;
}

.card__title-link:hover {
  color: var(--yellow-500);
}

.card__title-link:focus-visible {
  outline: 2px solid var(--yellow-500);
  outline-offset: 2px;
}

.card__description {
  line-height: 1.5;
}

.card__author {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.card__avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.card__author-name {
  font-weight: var(--font-weight-bold);
  color: var(--gray-950);
}
